* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  /* width: 100%; */
  background: #FFFFFF;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
input{
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

:root {
  --color-yellow: #FF9900;
  --color-hover-btn: #FFB84D;
  --color-active-btn: #E1670E;
  --hover-grey: #666666;
  --active-grey: #000000;
}

.container {
  max-width: 92.4vw;
  margin: 0 auto;
}

.btn {
  background: var(--color-yellow);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  border: none;
  border-radius: 16px;
  padding: 25px 39px;
  transition-property: background-color, border, color, outline;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.btn:focus-visible {
  outline: none;
}

.btn-transparent {
  background: transparent;
  color: #000000;
  border: 3px solid var(--color-yellow);
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.about-left-320px{
  display: none;
}
/* ======================= Header ================== */

.header {
  padding: 14px 0;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===========BURGER========== */
.burger{
  display: none;
}
.burger-block {
  width: 30px;
  height: 23px;
  display: none;
  z-index: 10;
}

.burger-header {
  height: 3px;
  width: 30px;
  background: #000;
  /* transform: translateY(-50%); */
  transition: transform .3s linear;
}

.burger-header::after,
.burger-header::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
}

.burger-header::after {
  top: 0px;
}

.burger-header::before {
  bottom: 0px;
}

.burger-up {
  display: none;


  position: absolute;
  height: 100vh;
  background: #fff;
  border-radius: 0 0 32px 32px;
  top: 0;
  left: 0;
}

.burger-up.active {
  display: flex;
  z-index: 2;
}

.burger-list {
  flex: 1 1 auto;
  margin: 170px 145px 270px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-item {
  flex: 1 1 auto;
  margin-top: 50px;
}

.burger-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.burger-header.active::after {

  transform: rotate(90deg);
}

.burger-header.active {
  transform: rotate(45deg);
}

/* ===================================== */
.header-logo {
  width: 225px;
  height: 72px
}
.header-rigth{
  display: flex;
}
.header-list {
  margin-right: calc(260/1920 * 100vw);
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: calc(85/1920 * 100vw);
}

.header-link {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  transition: border .4s linear;
  transition-property: color;
}

.header-link:hover {
  padding-bottom: 7px;
  border-bottom: 2px solid var(--color-yellow);
}

.header-link:focus-visible {
  outline-offset: 5px;
  outline: solid 2px var(--color-yellow);
  /* padding: 5px; */
}

.header-link:active {
  transition-duration: 0.1s;
  color: var(--color-active-btn)
}

.search-logo {
  stroke: #000000;
}

.search-logo:hover {
  stroke: var(--color-yellow);
}

.search-logo:focus {
  outline: none;
}

.search-logo:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #FF9900;
}

.search-logo:active {
  stroke: var(--color-yellow);
}

/* ==============  HERO ============= */
.container-hero {
  position: relative;
}

/* ========= hero-slider  =========== */
.hero-slider {
  display: flex;
  position: absolute;
  left: 0;
  transition: transform .3s linear;
  height: 100%;
  width: calc(100%*3);
}

.img-hero-bg {
  height: 100%;
  width: 100%;

}
.img-hero-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .slide-1 {
  background: url(../IMG/bg-hero1.png)center/cover no-repeat;
}

.slide-2 {
  background: url(../IMG/bg-hero2.png)center/cover no-repeat;
}

.slide-3 {
  background: url(../IMG/bg-hero3.png)center/cover no-repeat;
} */

.buttons {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.ellipse:not(:last-child) {
  margin-right: 20px;
}

.ellipse {
  fill: #CACACA;
  cursor: pointer;
}

.ellipse.active {
  fill: #FFFFFF;
}

/* ========================== */
.section-hero {
  margin-top: 50px;
}

.container-hero {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
}

.description-hero {
  position: relative;
  margin-left: 80px;
  color: #FFFFFF;
  max-width: 837px;
  padding: 100px 0;
}

.hero-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero-text {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero-btn {
  margin-top: 90px;
  border: none;
  font-size: 23px;
  line-height: 28px;
  padding: 25px 39px;
  transition: background-color .2s linear;
}

.btn:hover {
  background-color: var(--color-hover-btn);
}

.btn:active {
  background-color: var(--color-active-btn);
}

.btn:focus-visible {
  background-color: var(--color-hover-btn);
}

/* ==============  ABOUT  ============= */
.about-container {
  margin-top: 50px;
}

.discription-about {
  margin-top: 20px;
  max-width: 1235px;
}

.wrap {
  display: flex;
  margin-top: 50px;
  gap: 32px;
}

.colum-about {
  flex: 1 1 50%;
}

/* .colum-about:not(:last-child){
  margin-right: 32px;
} */

.about-left {
  border-radius: 32px;
  background: url(../IMG/Rectangle\ 2.png)center/ cover no-repeat;
  display: flex;
  min-height: 622px;
  flex-direction: column;
  justify-content: flex-end;
}

.left-element {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-about-text {
  flex: 1 1 auto;
  padding: 0 15px 0 0;
}

.about-left-text {
  max-width: 440px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-btn {
  /* margin-left: 160px; */
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition-duration: .2s;
  transition-property: border, background-color;
  transition-timing-function: linear;
}

.about-btn:hover {
  background: var(--color-yellow);
}

.about-btn:active {
  background: var(--color-active-btn);
  border-color: var(--color-active-btn);
}

.about-btn:focus-visible {
  background: var(--color-yellow);
}


.about-item {
  border: 1px solid #CACACA;
  border-radius: 32px;
  padding: 64px 76px;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
}

.icon-colum {
  /* min-width: 40%; */
  flex: 0 1 190px;
}

.abuot-icon {
  width: 100%;
}

.text-about-item {
  flex: 1 1 60%;
  max-width: 455px;
  margin-top: 5px;
  margin-left: 50px;
}

.about-item:not(:last-child) {
  margin-bottom: 32px;
}

.about-item-discription {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* ========== HOW  ============== */

.how-container {
  margin-top: 100px;
}

.nav-how {
  margin-top: 47px;
  display: flex;
  align-items: center;
  transition-property: color, outline;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.nav-how-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}

.nav-how-link.active {
  color: #E1670E;
}

.nav-how-link:hover {
  color: var(--color-yellow);
}

.nav-how-link:active {
  color: var(--color-active-btn);
}

.nav-how-link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.nav-haw-item:not(:last-child) {
  margin-right: 85px;
}

.step-wrap {
  margin-top: 52px;
  display: none;
  min-height: 480px;
  transition: display .3s ease;
}

.step-wrap.active {
  display: flex;
}


.left-col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
}

.step-col {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.step-description {
  flex: 1 1 auto;
  margin-top: 8px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.right-col {
  margin-top: 8px;
  border-radius: 32px;
  flex: 1 1 auto;
}

.col-step-1 {
  background: url(../IMG/Step1.png)center/ cover no-repeat;
}

.col-step-2 {
  background: url(../IMG/Step2.png)center/ cover no-repeat;
}

.col-step-3 {
  background: url(../IMG/Step3.png)center/ cover no-repeat;
}

.col-step-4 {
  background: url(../IMG/Step4.png)center/ cover no-repeat;
}

.wrap-btn-how {
  margin-top: 18px;
}

.step-btn {
  padding: 21px 38px;
  font-size: 16px;
  line-height: 1;
}

.btn-contract {
  padding: 21px 36px;
  margin-left: 28px;
  border: 1px solid #000000;
}

.btn-contract:hover {
  background-color: var(--hover-grey);
  border-color: var(--hover-grey);
  color: #FFFFFF;
}

.btn-contract:active {
  background-color: var(--active-grey);
  border-color: var(--active-grey);
  color: #FFFFFF;
}

.btn-contract:focus-visible {
  background-color: var(--hover-grey);
  border-color: var(--hover-grey);
  color: #FFFFFF;
}

/* ================= FAQ  =============== */

.faq-container {
  margin-top: 111px;
}

.fuq-list {
  margin-top: 32px;
}

.faq-item {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin-bottom: -1px;
  cursor: pointer;
}

.faq-item:last-child {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.faq-item:hover {
  border-color: var(--color-yellow);
  z-index: 10;
}

.faq-item:hover .fuq-subtitle {
  color: var(--color-yellow)
}

.fuq-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fuq-subtitle {
  position: relative;
}

.fuq-icon {
  fill: #CACACA;
  transition-timing-function: linear;
  transition-duration: .2s;
  transition-property: fill, transform;
}

.faq-item:hover .fuq-icon {
  fill: var(--color-yellow);
}

.faq-item.active .fuq-icon {
  transform: rotate(45deg);
  fill: var(--color-yellow);
}

.fuq-discription {
  display: none;
  max-width: 1003px;
  margin-top: 30px;
}

.faq-item.active .fuq-discription {
  display: block;
}

.fuq-discription p:first-child {
  margin-bottom: 32px;
}

/* ================ FOOTER ============== */
.footer {
  background: #000;
}

.footer-container {
  margin-top: 100px;
}

.footer-row {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 224px;
  height: 72px;
}

.footer-list {
  margin-top: 18px;
}

.footer-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color .2s linear;
}

.footer-link:hover {
  color: var(--color-yellow);
}

.footer-link:active {
  color: var(--color-active-btn);
}

.footer-link:focus-visible {
  outline: 1px solid var(--color-yellow);
  outline-offset: 5px;
}

.social {
  margin-top: 90px;
}

.social-link:hover .social-icon path {
  fill: var(--color-yellow);
}

.social-link:active .social-icon path {
  fill: var(--color-active-btn);
}

.social-link:focus-visible {
  outline: 1px solid var(--color-yellow);
  outline-offset: 5px;
}

.social-link:not(:last-child) {
  margin-right: 22px;
}

.footer-center {
  max-width: 570px;
  margin: 0 15px;
  /* margin-left: 350px;
  margin-right: 236px; */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.title-form {
  color: #CACACA;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-input {
  margin-top: 27px;
  border: none;
  width: 570px;
  background: #414141;
  border-radius: 16px;
  padding: 13px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer-input:hover {
  background: var(--hover-grey);
}

.footer-input:focus,
.footer-input:focus-visible {
  background: var(--hover-grey);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}


.footer-textarea {
  height: 150px;
}

.btn-footer-form {
  margin-top: 32px;
  font-size: 16px;
  line-height: 20px;
}

.discription-footer {
  max-width: 363px;
  color: #CACACA;
}

/* =================== MEDIA ============ */

@media(max-width: 1024px) {

  /* .container{
    max-width: 924px;
  } */
  /* ============ HEADER ============= */
  .header {
    padding: 24px 0;
  }

  .container {
    width:calc(924/1024 * 100vw);
  }

  .header-container {
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }
  .burger{
    display: block;
  }
  .burger-block {
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-header {
    margin-left: 0;
  }

  .header-logo {
    width: 150px;
    height: 48px;
  }

  /* ============= HERO ============= */
  .section-hero {
    margin-top: 42px;
  }

  .description-hero {
    padding: 160px 0;
    margin-left: 77px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 73px;
  }

  .hero-text {
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
    max-width: 750px;
  }

  .hero-btn {
    margin-top: 60px;
  }

  /* ============ ABOUT =============== */
  .about-container {
    margin-top: 36px;
  }

  .wrap {
    margin-top: 59px;
    flex-direction: column;
  }

  .about-left {
    min-height: 640px;
  }

  .about-btn {
    /* margin-left: 195px; */
    padding: 18px 35px;
  }

  /* ============== HOW =========== */
  .how-container {
    margin-top: 83px;
  }

  .left-col {
    margin-right: 50px;
  }



  .wrap-btn-how {
    width: 100%;
    margin-top: 25px;
    display: flex;
  }
  .faq-container {
    margin-top: 80px;
  }

  .fuq-subtitle {
    max-width: 750px;
    font-size: 20px;
    line-height: 32px;
  }

  /* =========  FOOTER ======= */

  .footer-container {
    margin-top: 80px;
  }

  .footer-row {
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-right {
    display: none;
  }

  .footer-center {
    /* margin-left: 132px; */
    padding-left: 25px;
    margin-right: 0;
    max-width: 541px;
  }

  .footer-input {
    width: 100%;
  }

  .btn-footer-form {
    padding: 19px 38px;
  }
}

/* ============= 768 ================== */

@media(max-width: 768px) {
  .container{
    max-width:calc(668/768 *100vw);
  }
  /* ===== Burger ======= */
  .burger-list{
    margin-top: 152px;
    margin-bottom: 230px;
  }
  /* ======= Header ====== */
  .header{
    padding: 10px 0;
  }
  /* ===== Hero ==== */
  .description-hero{
    margin: 0 40px;
  }
  .hero-title{
    font-size: 50px;
    line-height: 61px;
  }
  .hero-text{
    font-size: 18px;
  line-height: 22px;
  }
  /* ===== About ====== */
  .about-item{
    padding: 35px 40px;
  }
  .icon-colum{
    max-width: 114px;
  }
  .text-about-item{
    margin-left: 16px;
  }
  /* ========= Step ========== */

  .nav-haw-item:not(:last-child){
    margin-right:calc(155/768 *100vw);
  }

  .step-wrap.active{
    flex-direction: column;
  }

  .right-col {
    height:284px ;
    order: 1;
  }
  .left-col{
    order: 2;
    margin: 0;
    padding: 0;
  }
  .step-col {
    margin-top: 38px;
  }
  /* ====== FAQ ========== */
  .faq-item{
    padding: 39px 0;
  }
  .fuq-subtitle{
    font-size: 20px;
    line-height: 32px;
    max-width: 570px;
  }
/* =====Footer ======= */
.footer-nav{
  display: none;
}
.footer-row{
  flex-direction: column;
}
.footer-col{
  width: 100%;
}
.footer-center{
  max-width: 570px;
  margin: 0;
  padding: 0;
  order: 1;
}
.footer-left{
  order: 2;
}
.footer-form{
  width: 100%;
}
.footer-logo{
  margin-top: 50px;
}
.social{
  margin-top: 16px;
}
}
/* ===== 320 =================== */

@media(max-width: 400px){
  .container{
    max-width: calc(290/320 * 100vw);
  }
  
.header{
  padding: 22px 0;
}
.header-logo{
  width: 110px;
  height: 35px;
}
/* =========== Hero =========== */

.section-hero{
  margin-top: 30px;
}
.description-hero{
  margin: 0 18px;
  padding: 60px 0;
  display: flex;flex-direction: column;
  align-items: center;
}
.hero-title{
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.hero-text{
  margin-top: 6px;
  font-size: 12px;
line-height: 15px;
  text-align: center;
}
.hero-btn{
  margin-top: 32px;
  padding: 13px 28px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
}
.ellipse{
  height: 10px;
  width: 10px;
}
/* ======== About ==== */
.about-container{
  margin-top: 60px;
}
.section-title{
  font-size: 24px;
  line-height: 29px;
}
.section-text{
  font-size: 14px;
  line-height: 28px;
}
.wrap{
  margin-top: 14px;
}
.about-left{
  display: none;
}
.about-left-320px{
  display: block;
}
.left-element-320px{
  display: block;
}
.left-element-320px img{
  width: 100%;
}
.about-left-text-320px{
  margin-top: 8px;
}
.about-btn-320px{
  margin-top: 12px;
  padding: 12px 44px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
}
.about-item{
  padding: 0;
  border: none;
  display: block;
}
.icon-colum{
  width: 64px;
}
.title-about-right{
  margin-top: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.about-item-discription{
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
/* ======= How ===  */
.how-container{
  margin-top: 61px;
}
.nav-how{
  margin-top: 20px;
}
.nav-how-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.nav-haw-item:not(:last-child){
  margin-right:calc(44/320*100vw);
}
.step-wrap{
  margin-top: 16px;
}
.right-col{
  height: 160px;
  border-radius: 16px;
}
.step-col{
  margin-top: 16px;
}
.subtitle{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.step-description{
  margin-top: 8px;
  margin-left: 0;
}
.wrap-btn-how{
  margin-top: 25px;
}
.step-btn{
  padding: 12px 43px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.btn-contract{
  font-weight: 400;
  margin-left: 10px;
  padding: 12px 32px;
}
/* ===== FAQ ===== */
.faq-container{
  margin-top: 60px;
}
.fuq-list{
  margin-top: 16px;
}
.faq-item{
  padding:30px 0;
}
.fuq-subtitle{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.fuq-icon{
  margin-left: 14px;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
}
/* ===== Footer ==== */

.footer-row{
  padding: 33px 0;
}
.footer-center{
  border-bottom: 1px solid #414141;
}
.footer-form{
  margin-top: 20px;
}
.footer-input{
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 32px;
}
.footer-input::placeholder{
  font-size: 14px;
  line-height: 32px;
}
.btn-footer-form{
  margin-top: 0;
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 16px;
}
.footer-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo{
margin-top: 16px;
height: 42px;
width: 131px;
}
.social-icon{
  width: 40px;
}
.social-link:not(:last-child){
  margin-right: 16px;
}
}